{
    "name": "local",
    "dockerComposeFile": ["../docker-compose.yml"],
    "service": "local",
    "shutdownAction": "none",
    "workspaceFolder": "/workspace",
    "postCreateCommand": "~/scripts/post-create.sh",
    "postStartCommand": "uv sync",
    "mounts": [
        "source=../.cache/.asdf_plugins,target=/home/vscode/.asdf/plugins,type=bind,consistency=volume",
        "source=../.cache/.asdf_installs,target=/home/vscode/.asdf/installs,type=bind,consistency=volume",
        "source=../.cache/.uv_cache,target=/home/vscode/.cache/uv,type=bind,consistency=volume",
        "source=local-bashhistory,target=/home/vscode/commandhistory,type=volume",
        "source=${localEnv:HOME}/.ssh,target=/home/vscode/.ssh,type=bind,consistency=cached",
        "source=${localEnv:HOME}/.databrickscfg,target=/home/vscode/.databrickscfg,type=bind,consistency=cached"
    ],
    "customizations": {
        "vscode": {
            "extensions": [
                "charliermarsh.ruff",
                "tamasfe.even-better-toml",
                "redhat.vscode-yaml",
                "ms-python.python",
                "ms-vscode-remote.remote-containers",
                "EditorConfig.EditorConfig",
                "ms-toolsai.jupyter"
            ],
            "settings": {
                "git.openRepositoryInParentFolders": "always",
                "editor.tabSize": 2,
                "editor.rulers": [88],
                "editor.formatOnSave": true,
                "[python]": {
                    "editor.defaultFormatter": "charliermarsh.ruff",
                    "editor.codeActionsOnSave": {
                        "source.organizeImports": "always",
                        "source.fixAll": "always"
                    }
                },
                "python.terminal.activateEnvInCurrentTerminal": true,
                "python.defaultInterpreterPath": "${workspaceFolder}/.venv/bin/python",
                "python.testing.pytestArgs": ["tests"],
                "python.testing.unittestEnabled": false,
                "python.testing.pytestEnabled": true,
                "github.copilot.editor.enableAutoCompletions": true,
                "ruff.configuration": "${workspaceFolder}/.pyproject.toml",
                "ruff.lint.run": "onSave",
                "terminal.integrated.inheritEnv": true,
                "terminal.integrated.defaultProfile.linux": "zsh",
                "terminal.integrated.profiles.linux": {
                    "bash": {
                        "path": "bash",
                        "icon": "terminal-bash"
                    },
                    "zsh": {
                        "path": "zsh"
                    },
                    "fish": {
                        "path": "fish"
                    },
                    "tmux": {
                        "path": "tmux",
                        "icon": "terminal-tmux"
                    },
                    "pwsh": {
                        "path": "pwsh",
                        "icon": "terminal-powershell"
                    }
                }
            }
        }
    }
}
